doctype html
html(lang="en")
head
  title Consolidated Citizen Services Sprint - Status Page
  link(href='/uswds.min.css', rel='stylesheet')
  script(type='text/javascript', src='/uswds.min.js')

body
  h1
    | Consolidated Citizen Services Sprint - Status Page

  h2
    | States using OGP:
  table
    tr
      td # of States Counted
      td= count
    tr
      td # of States Using OGP
      td= ogptrues_count
    tr
      td # of States Using RDF
      td= rdftrues_count
    tr
      td # of States Using Microdata
      td= microtrues_count
    tr
      td # of States Offering Spanish 
      td= spanish_count
    tr
      td # of States Offering Google Translate
      td= languages_count
    tr
      td # of States Offering Online Voter Registration
      td= olvr_count
    tr
      td # of States Offering Online Registration Check
      td= olrc_count
  hr
  table
    tr
      td Abbreviation
      td Name
      td Uses Microdata*
      td Uses Open Graph Protocol
      td Uses RDF
      td Online Voter Registration
      td Check Your Registration Online
      td Language Translations?**
      td Featured Service
      td Featured Service
      td Featured Service
    each state in states.length ? states: ['None']
      tr  
        td= state.abbreviation
        td= state.name
        td= state.usesmicrodata
        td= state.usesogp
        td= state.usesrdf
        td= state.olvr
        td= state.olrc
        td= state.language
        td= state.service1
        td= state.service2
        td= state.service3
  hr
  |* Microdata: 0 = none, 1 = schema.org or similar, 2 = XMLNS
  br
  |** Languages: 0 = English only, 1 = English/Spanish, 2 = Google Translate, 3 = Custom Translation Tool
//  h2
//    | States using OGP:
//  ul
//    each val in values.length ? values: ['None']
//      li= val.name
