doctype html
html(lang="en")
head
  title Consolidated Citizen Services Sprint - Status Page
  link(href='/uswds.min.css', rel='stylesheet')
  script(type='text/javascript', src='/uswds.min.js')
body
  script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js')
  script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js')
  script(type='text/javascript', src='/datamaps.usa.min.js')
  #map_ccs.map(style='border:1px dotted blue; width: 700px; height: 475px; position: relative;')
     
  script.
    var election = new Datamap({scope: 'usa', element: document.getElementById('map_cs'), geographyConfig: {
    highlightBorderColor: '#bada55', popupTemplate: function(geography, data) {return '<div class="hoverinfo">' +geography.properties.name + ' Electoral Votes:' +  data.electoralVotes + ' '},highlightBorderWidth: 3},
    fills: {'Republican': '#CC4731','Democrat': '#306596','Heavy Democrat': '#667FAF','Light Democrat': '#A9C0DE','Heavy Republican':'#CA5E5B','Light Republican': '#EAA9A8',defaultFill: '#EDDC4E'},
    data:{"AZ": {
      "fillKey": "Republican",
      "electoralVotes": 5},
    "CO": {
      "fillKey": "Light Democrat",
      "electoralVotes": 5},
    "DE": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "FL": {
      "fillKey": "UNDECIDED",
      "electoralVotes": 29},
    "GA": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "HI": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "ID": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "IL": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "IN": {
      "fillKey": "Republican",
      "electoralVotes": 11},
    "IA": {
      "fillKey": "Light Democrat",
      "electoralVotes": 11},
    "KS": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "KY": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "LA": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "MD": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "ME": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "MA": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "MN": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "MI": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "MS": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "MO": {
      "fillKey": "Republican",
      "electoralVotes": 13},
    "MT": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "NC": {
      "fillKey": "Light Republican",
      "electoralVotes": 32},
    "NE": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "NV": {
      "fillKey": "Heavy Democrat",
      "electoralVotes": 32},
    "NH": {
      "fillKey": "Light Democrat",
      "electoralVotes": 32},
    "NJ": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "NY": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "ND": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "NM": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "OH": {
      "fillKey": "UNDECIDED",
      "electoralVotes": 32},
    "OK": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "OR": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "PA": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "RI": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "SC": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "SD": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "TN": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "TX": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "UT": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "WI": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "VA": {
      "fillKey": "Light Democrat",
      "electoralVotes": 32},
    "VT": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "WA": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "WV": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "WY": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "CA": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "CT": {
      "fillKey": "Democrat",
      "electoralVotes": 32},
    "AK": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "AR": {
      "fillKey": "Republican",
      "electoralVotes": 32},
    "AL": {
      "fillKey": "Republican",
      "electoralVotes": 32}}});
      election.labels();
  h1
    | Consolidated Citizen Services Sprint - Status Page

  h2
    | States using OGP:
  table
    tr
      td # of States Counted
      td= count
    tr
      td # of States Using OGP
      td= ogptrues_count
    tr
      td # of States Using RDF
      td= rdftrues_count
    tr
      td # of States Using Microdata
      td= microtrues_count
    tr
      td # of States Offering Spanish 
      td= spanish_count
    tr
      td # of States Offering Google Translate
      td= languages_count
    tr
      td # of States Offering Online Voter Registration
      td= olvr_count
    tr
      td # of States Offering Online Registration Check
      td= olrc_count
  hr
  table
    tr
      td Abbreviation
      td Name
      td Uses Microdata*
      td Uses Open Graph Protocol
      td Uses RDF
      td Online Voter Registration
      td Check Your Registration Online
      td Language Translations?**
      td Featured Service
      td Featured Service
      td Featured Service
    each state in states.length ? states: ['None']
      tr  
        td= state.abbreviation
        td= state.name
        td= state.usesmicrodata
        td= state.usesogp
        td= state.usesrdf
        td= state.olvr
        td= state.olrc
        td= state.language
        td= state.service1
        td= state.service2
        td= state.service3
  hr
  |* Microdata: 0 = none, 1 = schema.org or similar, 2 = XMLNS
  br
  |** Languages: 0 = English only, 1 = English/Spanish, 2 = Google Translate, 3 = Custom Translation Tool
//  h2
//    | States using OGP:
//  ul
//    each val in values.length ? values: ['None']
//      li= val.name
