doctype html
html(lang="en")
head
  title Consolidated Citizen Services Sprint - Status Page
  link(href='/uswds.min.css', rel='stylesheet')
  script(type='text/javascript', src='/uswds.min.js')
  script(type='text/javascript')
    
body
  script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js')
  script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js')
  script(type='text/javascript', src='/datamaps.usa.min.js')
  #foobar
  #map_ccs.map(style='border:1px dotted blue; width: 700px; height: 475px; position: relative;')
      
  script.
    var election = new Datamap({scope: 'usa', element: document.getElementById('map_ccs'), geographyConfig: {
    highlightBorderColor: '#bada55', popupTemplate: function(geography, data) {return '<div class="hoverinfo">' +geography.properties.name + '<br> State Name: '+data.statename+ '<br> Check Voter Registration Online?:' +  data.olrc + '<br> Online Voter Reg?'+data.olvr+ '<br> Uses Microdata? '+data.microdata+'<br> Uses OGP? '+data.usesogp+'<br> Uses RDF '+data.usesrdf+'<br> Translations?'+data.language},highlightBorderWidth: 3},
    fills: {'Green': '#00FF00','Yellow': '#EDDC4E','Red': '#B22222',defaultFill: '#B22222'},
    
    data:{"AZ": {
      "fillKey": "Green",
      "statename":"#{states[2].name.toString()}",
      "olrc":(#{states[3].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[3].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[3].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[3].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[3].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[3].language.toString()}>1)?"Yes": "No"},
    "CO": {
      "fillKey": "Green",
      "statename":"#{states[5].name.toString()}",
      "olrc":(#{states[5].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[5].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[5].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[5].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[5].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[5].language.toString()}>1)?"Yes": "No"},
    "DE": {
      "fillKey": "Green",
      "statename":"#{states[8].name.toString()}",
      "olrc":(#{states[8].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[8].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[8].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[8].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[8].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[8].language.toString()}>1)?"Yes": "No"},
    "FL": {
      "fillKey": "Green",
      "statename":"#{states[9].name.toString()}",
      "olrc":(#{states[9].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[9].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[9].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[9].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[9].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[9].language.toString()}>1)?"Yes": "No"},
    "GA": {
      "fillKey": "Green",
      "statename":"#{states[10].name.toString()}",
      "olrc":(#{states[10].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[10].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[10].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[10].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[10].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[10].language.toString()}>1)?"Yes": "No"},
    "HI": {
      "fillKey": "Green",
      "statename":"#{states[11].name.toString()}",
      "olrc":(#{states[11].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[11].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[11].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[11].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[11].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[11].language.toString()}>1)?"Yes": "No"},
    "ID": {
      "fillKey": "Green",
      "statename":"#{states[12].name.toString()}",
      "olrc":(#{states[12].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[12].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[12].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[12].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[12].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[12].language.toString()}>1)?"Yes": "No"},
    "IL": {
      "fillKey": "Green",
      "statename":"#{states[13].name.toString()}",
      "olrc":(#{states[13].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[13].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[13].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[13].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[13].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[13].language.toString()}>1)?"Yes": "No"},
    "IN": {
      "fillKey": "Green",
      "statename":"#{states[14].name.toString()}",
      "olrc":(#{states[14].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[14].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[14].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[14].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[14].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[14].language.toString()}>1)?"Yes": "No"},
    "IA": {
      "fillKey": "Green",
      "statename":"#{states[15].name.toString()}",
      "olrc":(#{states[15].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[15].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[15].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[15].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[15].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[15].language.toString()}>1)?"Yes": "No"},
    "KS": {
      "fillKey": "Red",
      "statename":"#{states[16].name.toString()}",
      "olrc":(#{states[16].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[16].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[16].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[16].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[16].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[16].language.toString()}>1)?"Yes": "No"},
    "KY": {
      "fillKey": "Red",
      "statename":"#{states[17].name.toString()}",
      "olrc":(#{states[17].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[17].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[17].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[17].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[17].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[17].language.toString()}>1)?"Yes": "No"},
    "LA": {
      "fillKey": "Red",
      "statename":"#{states[19].name.toString()}",
      "olrc":(#{states[19].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[19].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[19].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[19].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[19].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[19].language.toString()}>1)?"Yes": "No"},
    "MD": {
      "fillKey": "Red",
      "statename":"#{states[20].name.toString()}",
      "olrc":(#{states[20].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[20].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[20].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[20].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[20].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[20].language.toString()}>1)?"Yes": "No"},
    "ME": {
      "fillKey": "Red",
      "statename":"#{states[19].name.toString()}",
      "olrc":(#{states[19].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[19].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[19].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[19].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[19].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[19].language.toString()}>1)?"Yes": "No"},
    "MA": {
      "fillKey": "Red",
      "statename":"#{states[21].name.toString()}",
      "olrc":(#{states[21].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[21].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[21].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[21].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[21].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[21].language.toString()}>1)?"Yes": "No"},
    "MN": {
      "fillKey": "Red",
      "statename":"#{states[23].name.toString()}",
      "olrc":(#{states[23].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[23].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[23].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[23].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[23].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[23].language.toString()}>1)?"Yes": "No"},
    "MI": {
      "fillKey": "Red",
      "statename":"#{states[22].name.toString()}",
      "olrc":(#{states[22].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[22].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[22].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[22].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[22].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[22].language.toString()}>1)?"Yes": "No"},
    "MS": {
      "fillKey": "Red",
      "statename":"#{states[24].name.toString()}",
      "olrc":(#{states[24].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[24].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[24].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[24].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[24].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[24].language.toString()}>1)?"Yes": "No"},
    "MO": {
      "fillKey": "Red",
      "statename":"#{states[25].name.toString()}",
      "olrc":(#{states[25].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[25].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[25].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[25].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[25].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[25].language.toString()}>1)?"Yes": "No"},
    "MT": {
      "fillKey": "Red",
      "statename":"#{states[26].name.toString()}",
      "olrc":(#{states[26].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[26].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[26].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[26].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[26].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[26].language.toString()}>1)?"Yes": "No"},
    "NC": {
      "fillKey": "Green",
      "statename":"#{states[33].name.toString()}",
      "olrc":(#{states[33].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[33].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[33].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[33].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[33].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[33].language.toString()}>1)?"Yes": "No"},
    "NE": {
      "fillKey": "Red",
      "statename":"#{states[27].name.toString()}",
      "olrc":(#{states[27].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[27].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[27].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[27].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[27].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[27].language.toString()}>1)?"Yes": "No"},
    "NV": {
      "fillKey": "Red",
      "statename":"#{states[28].name.toString()}",
      "olrc":(#{states[28].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[28].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[28].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[28].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[28].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[28].language.toString()}>1)?"Yes": "No"},
    "NH": {
      "fillKey": "Red",
      "statename":"#{states[29].name.toString()}",
      "olrc":(#{states[29].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[29].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[29].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[29].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[29].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[29].language.toString()}>1)?"Yes": "No"},
    "NJ": {
      "fillKey": "Yellow",
      "statename":"#{states[30].name.toString()}",
      "olrc":(#{states[30].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[30].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[30].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[30].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[30].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[30].language.toString()}>1)?"Yes": "No"},
    "NY": {
      "fillKey": "Yellow",
      "statename":"#{states[33].name.toString()}",
      "olrc":(#{states[33].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[33].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[33].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[33].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[33].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[33].language.toString()}>1)?"Yes": "No"},
    "ND": {
      "fillKey": "Yellow",
      "statename":"#{states[34].name.toString()}",
      "olrc":(#{states[34].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[34].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[34].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[34].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[34].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[34].language.toString()}>1)?"Yes": "No"},
    "NM": {
      "fillKey": "Yellow",
      "statename":"#{states[31].name.toString()}",
      "olrc":(#{states[31].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[31].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[31].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[31].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[31].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[31].language.toString()}>1)?"Yes": "No"},
    "OH": {
      "fillKey": "Yellow",
      "statename":"#{states[35].name.toString()}",
      "olrc":(#{states[35].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[35].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[35].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[35].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[35].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[35].language.toString()}>1)?"Yes": "No"},
    "OK": {
      "fillKey": "Yellow",
      "statename":"#{states[36].name.toString()}",
      "olrc":(#{states[36].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[36].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[36].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[36].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[36].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[36].language.toString()}>1)?"Yes": "No"},
    "OR": {
      "fillKey": "Green",
      "statename":"#{states[37].name.toString()}",
      "olrc":(#{states[37].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[37].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[37].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[37].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[37].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[37].language.toString()}>1)?"Yes": "No"},
    "PA": {
      "fillKey": "Green",
      "statename":"#{states[38].name.toString()}",
      "olrc":(#{states[38].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[38].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[38].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[38].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[38].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[38].language.toString()}>1)?"Yes": "No"},
    "RI": {
      "fillKey": "Green",
      "statename":"#{states[39].name.toString()}",
      "olrc":(#{states[39].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[39].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[39].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[39].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[39].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[39].language.toString()}>1)?"Yes": "No"},
    "SC": {
      "fillKey": "Green",
      "statename":"#{states[40].name.toString()}",
      "olrc":(#{states[40].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[40].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[40].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[40].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[40].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[40].language.toString()}>1)?"Yes": "No"},
    "SD": {
      "fillKey": "Green",
      "statename":"#{states[41].name.toString()}",
      "olrc":(#{states[41].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[41].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[41].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[41].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[41].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[41].language.toString()}>1)?"Yes": "No"},
    "TN": {
      "fillKey": "Green",
      "statename":"#{states[42].name.toString()}",
      "olrc":(#{states[42].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[42].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[42].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[42].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[42].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[42].language.toString()}>1)?"Yes": "No"},
    "TX": {
      "fillKey": "Green",
      "statename":"#{states[43].name.toString()}",
      "olrc":(#{states[43].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[43].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[43].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[43].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[43].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[43].language.toString()}>1)?"Yes": "No"},
    "UT": {
      "fillKey": "Green",
      "statename":"#{states[44].name.toString()}",
      "olrc":(#{states[44].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[44].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[44].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[44].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[44].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[44].language.toString()}>1)?"Yes": "No"},
    "WI": {
      "fillKey": "Green",
      "statename":"#{states[49].name.toString()}",
      "olrc":(#{states[49].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[49].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[49].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[49].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[49].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[49].language.toString()}>1)?"Yes": "No"},
    "VA": {
      "fillKey": "Green",
      "statename":"#{states[46].name.toString()}",
      "olrc":(#{states[46].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[46].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[46].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[46].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[46].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[46].language.toString()}>1)?"Yes": "No"},
    "VT": {
      "fillKey": "Green",
      "statename":"#{states[45].name.toString()}",
      "olrc":(#{states[45].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[45].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[45].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[45].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[45].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[45].language.toString()}>1)?"Yes": "No"},
    "WA": {
      "fillKey": "Green",
      "statename":"#{states[47].name.toString()}",
      "olrc":(#{states[47].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[47].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[47].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[47].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[47].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[47].language.toString()}>1)?"Yes": "No"},
    "WV": {
      "fillKey": "Green",
      "statename":"#{states[48].name.toString()}",
      "olrc":(#{states[48].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[48].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[48].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[48].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[48].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[48].language.toString()}>1)?"Yes": "No"},
    "WY": {
      "fillKey": "Green",
      "statename":"#{states[0].name.toString()}",
      "olrc":(#{states[50].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[50].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[50].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[50].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[50].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[50].language.toString()}>1)?"Yes": "No"},
    "CA": {
      "fillKey": "Green",
      "statename":"#{states[4].name.toString()}",
      "olrc":(#{states[4].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[4].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[4].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[4].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[4].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[4].language.toString()}>1)?"Yes": "No"},
    "CT": {
      "fillKey": "Green",
      "statename":"#{states[6].name.toString()}",
      "olrc":(#{states[6].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[6].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[6].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[6].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[6].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[6].language.toString()}>1)?"Yes": "No"},
    "AK": {
      "fillKey": "Green",
      "statename":"#{states[1].name.toString()}",
      "olrc":(#{states[1].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[1].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[1].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[1].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[1].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[1].language.toString()}>1)?"Yes": "No"},
    "AR": {
      "fillKey": "Green",
      "statename":"#{states[3].name.toString()}",
      "olrc":(#{states[3].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[3].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[3].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[3].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[3].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[3].language.toString()}>1)?"Yes": "No"},
    "DC": {
      "fillKey": "Green",
      "statename":"#{states[7].name.toString()}",
      "olrc":(#{states[7].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[7].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[7].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[7].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[7].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[7].language.toString()}>1)?"Yes": "No"},
    "AL": {
      "fillKey": "Green",
      "statename":"#{states[0].name.toString()}",
      "olrc":(#{states[0].olrc.toString()}>0)? "Yes" : "No",
      "olvr":(#{states[0].olvr.toString()}>0)? "Yes" : "No",
      "microdata":(#{states[0].usesmicrodata.toString()}>0)? "Yes": "No",
      "usesogp":(#{states[0].usesogp.toString()}>0)? "Yes" : "No",
      "usesrdf":(#{states[0].usesrdf.toString()}>0)? "Yes" : "No",
      "language":(#{states[0].language.toString()}>1)?"Yes": "No"}}});
      election.labels();
  h1
    | Consolidated Citizen Services Sprint - Status Page

  h2
    | States using OGP:
  table
    tr
      td # of States Counted
      td= count
    tr
      td # of States Using OGP
      td= ogptrues_count
    tr
      td # of States Using RDF
      td= rdftrues_count
    tr
      td # of States Using Microdata
      td= microtrues_count
    tr
      td # of States Offering Spanish 
      td= spanish_count
    tr
      td # of States Offering Google Translate
      td= languages_count
    tr
      td # of States Offering Online Voter Registration
      td= olvr_count
    tr
      td # of States Offering Online Registration Check
      td= olrc_count
  hr
  table
    tr
      td Abbreviation
      td Name
      td Uses Microdata*
      td Uses Open Graph Protocol
      td Uses RDF
      td Online Voter Registration
      td Check Your Registration Online
      td Language Translations?**
      td Featured Service
      td Featured Service
      td Featured Service
    each state in states.length ? states: ['None']
      tr  
        td= state.abbreviation
        td= state.name
        td= state.usesmicrodata
        td= state.usesogp
        td= state.usesrdf
        td= state.olvr
        td= state.olrc
        td= state.language
        td= state.service1
        td= state.service2
        td= state.service3
  hr
  |* Microdata: 0 = none, 1 = schema.org or similar, 2 = XMLNS
  br
  |** Languages: 0 = English only, 1 = English/Spanish, 2 = Google Translate, 3 = Custom Translation Tool
//  h2
//    | States using OGP:
//  ul
//    each val in values.length ? values: ['None']
//      li= val.name
